.login-container {
  padding: 8px 16px;
  margin-top: 1em;
}
.login-header {
  background-color: var(--green);
  border-radius: var(--radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.3em;
  color: #111;
}

.additional-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  margin-top: 22px;
  flex-direction: column;
}
.additional-info div {
  margin-top: 8px;
}
footer {
  position: absolute;
  bottom: 0;
  background: #03188f;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  color: #fff;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.nav-item {
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  color: #7c7c7c;
  margin-bottom: 8px;
  margin-left: auto;
  right: 14px;
  text-decoration: none;
}
.color-primary {
  color: var(--green-darker);
}